In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
train=pd.read_csv('train.csv')
original_train=train.copy()
train.head()

   Loan.ID  Current.Loan.Amount  ... Tax.Liens  Loan.Status
0        0                17879  ...       0.0            1
1        1             99999999  ...       0.0            1
2        3             99999999  ...       0.0            1
3        4                11200  ...       0.0            1
4        5                 3608  ...       0.0            1

[5 rows x 18 columns]

In [4]:
test=pd.read_csv('test.csv')
original_test=test.copy()
test.head()

   Loan.ID  Current.Loan.Amount  ... Tax.Liens  Loan.Status
0        2                 6966  ...       0.0          NaN
1        6                 9848  ...       0.0          NaN
2        9             99999999  ...       0.0          NaN
3       12                 6737  ...       0.0          NaN
4       14                 5878  ...       0.0          NaN

[5 rows x 18 columns]

In [0]:
sumtrain=0
x=0
y=0
sumtest=0